<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>

<body>
    <form id='form' method="GET" action="room">
        <input id='nameInp' type="text" placeholder="Name" name="user">
        <button disabled id='newMeetingBtn'> New Meeting </button>
    </form>

    <script src="js/home.js"></script>
</body>

</html>