<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<script>
    //this needs to be here because we can access it through ejs here only
    const ROOM_ID = "<%= roomId %>"
</script>

<body>
    <form id='form' method="GET">
        <input id='nameInp' type="text" placeholder="Name" name="user">
        <div class="btnsDiv">
            <button disabled id='newMeetingBtn'> New Meeting </button>
            <div class="joinDiv">
                <input id='roomInp' type="text" placeholder="Room Id" name="room">
                <button disabled id='joinMeetingBtn'> Join Meeting </button>
            </div>
        </div>
    </form>

    <script src="js/home.js"></script>
</body>

</html>