<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/room.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/room.css">
</head>

<body>
    <div id="video-grid">
        <div class='videoHolder' id="myVideo">
            <video autoplay></video>
            <h3 class='name'></h3>
        </div>

        <div class='videoHolder' id="peerVideo">
            <video autoplay></video>
            <h1></h1>
            <h3 class='name'></h3>
        </div>
    </div>

    <div class='controls'>
        <% if(myVideoOn) {%>
            <button id='videoBtn'> Hide Video </button>
            <% }else{ %>
                <button id='videoBtn'> Show Video </button>
                <% } %>
                    <button id='audioBtn'>Stop Mic</button>
                    <button id='shareScreen'>Share Screen</button>
    </div>
</body>

</html>