<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>
        const ROOM_ID = "<%= roomId %>"
    </script>
    <script defer src="https://unpkg.com/peerjs@1.2.0/dist/peerjs.min.js"></script>
    <script src="/socket.io/socket.io.js" defer></script>
    <script src="js/initialization.js" defer></script>
    <script src="js/peerFunctions.js" defer></script>
    <script src="js/video-audio.js" defer></script>
    <script src="js/screenShare.js" defer></script>
    <script src="js/whiteboard.js" defer></script>
    <script src="js/shareFile.js" defer></script>
    <script src="js/chat.js" defer></script>
    <script src="js/room.js" defer></script>
    <title>Document</title>
    <link rel="stylesheet" href="css/room.css">
</head>

<body>
    <div id="videoGrid">

        <div class='videoHolder' id="peerDiv">
            <video autoplay></video>
            <h1 class='nameFallback'></h1>
            <h3 class='name'></h3>
        </div>

        <div class='videoHolder' id="myDiv">
            <video autoplay></video>
            <h1 class='nameFallback'></h1>
            <h3 class='name'></h3>
        </div>

    </div>

    <div class='controls'>
        <button id='videoBtn'>Show Video</button>
        <button id='audioBtn'>Mute</button>
        <button id='shareScreenBtn' disabled>Share Screen</button>
        <button id="shareFileBtn" disabled>Share File</button>
        <button id="whiteboardBtn" disabled>Whiteboard</button>
        <button id='openChatBtn'>
            Chat
            <span class='notificationBubble'></span>
        </button>

    </div>

    <div id='chatWindow' style='opacity: 0;'>
        <a href="javascript:void(0)" class="closebtn">×</a>
        <div id="chats"></div>
        <div class="chatFooter">
            <input type="text" id="chatInput">
            <button id='sendMsgBtn' disabled>Send</button>
        </div>
    </div>

    <div id="selectFileDialog" style="display: none;">
        <div class="dialog-content">
            <div class="label">Select a file:</div>
            <input type="file" id="selectFileInput">
            <div class="dialog-footer">
                <button id="shareFileOkBtn" disabled>Ok</button>
                <button id="shareFileCancelBtn">Cancel</button>
            </div>
        </div>
    </div>

    <div id="fileShareStatusDialog" style="display: none;">
        <div class="dialog-content">
            <p id='fileShareStatus'></p>
        </div>
    </div>


    <div id="fileRequestDialog" style="display: none;">
        <div class="dialog-content">
            <p id='fileRequestMsg'></p>
            <div class="dialog-footer">
                <button id="fileRequestAcceptBtn">Ok</button>
                <button id="fileRequestDenyBtn">Cancel</button>
            </div>
        </div>
    </div>

    <canvas class="whiteboard" style='display: none;'></canvas>
</body>

</html>