:root {
    --chatPadding: 12px;
    --chatWindowWidth: 300px;
}

* {
    margin: 0;
    padding: 0;
}

#videoGrid {
    display: grid;
    height: 90vh;
    padding: 10px 20px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'peerVideo myVideo' 'peerVideo .';
    row-gap: 10px;
    column-gap: 20px;
    transition: margin 0.4s ease;
}

.videoHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#myVideo {
    grid-area: myVideo;
}

#peerVideo {
    grid-area: peerVideo;
}

#openChatBtn {
    position: relative;
}

.notificationBubble {
    position: absolute;
    top: -10px;
    right: -10px;
    line-height: 25px;
    width: 25px;
    border-radius: 50%;
    background: magenta;
    color: white;
}

#chatWindow {
    grid-area: chatWindow;
    padding: var(--chatPadding) 0;
    height: 100vh;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 100vw;
    width: var(--chatWindowWidth);
    transition: left 0.4s ease, opacity 0.4s ease;
    display: flex;
    flex-direction: column;
    background-color: white;
}

.chatFooter {
    margin: 10px auto;
    width: calc(100% - 2 * var(--chatPadding));
    display: flex;
}

#chatWindow .closebtn {
    text-decoration: none;
    color: black;
    position: absolute;
    top: 0;
    font-size: 36px;
    left: 10px;
}

#chats {
    padding: 0 10px;
    margin-top: 25px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 88vh;
}

.myMsg {
    background-color: rgba(111, 217, 252, 0.9);
    align-self: flex-end;
}

.peerMsg {
    text-align: left;
    background-color: rgba(148, 247, 222, 0.9);
    align-self: flex-start;
}

.myMsg,
.peerMsg {
    width: fit-content;
    max-width: 80%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.time {
    margin-top: 5px;
    font-size: smaller;
    color: gray;
}

.chatFooter input {
    width: 90%;
}

video {
    width: 100%;
    max-height: 85vh;
    /* object-fit: cover; */
}

#peerVideo {
    position: relative;
}

#peerVideo h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.name {
    font-weight: 100;
}

.controls {
    width: 100vw;
    margin: 10px auto;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.controls button {
    height: 35px;
    width: 80px;
}

#selectFileDialog,
#fileRequestDialog,
#fileShareStatusDialog {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    top: 0;
    left: 0;
    z-index: 10;
}

.dialog-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 300px;
    height: 130px;
    margin: auto;
    background-color: white;
    padding: 20px;
    border-radius: 3px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.dialog-content .label {
    margin-bottom: 5px;
}

#fileShareStatus {
    margin-top: 10px;
    font-size: large;
}

.dialog-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding: 10px;
}

#shareFileOkBtn,
#fileRequestAcceptBtn {
    margin-left: 10px;
    float: right;
}

#shareFileCancelBtn,
#fileRequestDenyBtn {
    float: right;
}

.whiteboard {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}